
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">


  <!-- Pets Tab -->
  <tab title="Map" icon="icon ion-android-earth" href="#/tab/map">
    <nav-view name="map-tab"></nav-view>
  </tab>


  <!-- About Tab -->
  <tab title="About" icon="icon ion-search" href="#/tab/about">
    <nav-view name="about-tab"></nav-view>
  </tab>


</tabs>
